*{
	box-sizing: border-box;
	font-family: 'Kumbh Sans';
	margin: 0;
}

body {
	background-color: hsl(185, 75%, 39%);
}

#pattern-top {
	position: absolute;
	background-image: url(images/bg-pattern-top.svg);
	background-repeat: no-repeat;
	height: 978px;
	width: 978px;
	transform: translate(-25%,-50%);
}

#box {
	width: 300px;
	height: 387px;
	border-radius: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
}

#profile-bgImage {
	width: 300px;
	height: 130px;
	background-image: url(images/bg-pattern-card.svg);
	background-repeat: no-repeat;
	border-radius: 15px 15px 0 0;
}

#profile-pic {
	width: 31%;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	border: 5px solid white;
}

#profile
{
	width: 300px;
	height: 150px;
	text-align: center;
}

#name {
	position: absolute;
	left: 50%;
	top: 53%;
	transform: translate(-50%,0);
}

#city {
	position: absolute;
	left: 50%;
	top: 62%;
	transform: translate(-50%,0);
}

.top-details {
	font-weight: 700;
	font-size: 16px;
	padding-bottom: 25px;
}

.seperator {
	height: 7px;
}

.bottom-details {
	font-size: 14px;
}

#one, #two, #three {
	margin: 0;
	display: inline-block;
	width: 95px;
	height: 100px;
	text-align: center;
	padding-top: 30px;
}

#one {
	margin-left: 3px;
	padding-left: 40px;
}

#two {
	padding-left: 10px;
}

#three {
	padding-right: 30px;
}

#pattern-bottom {
	position: absolute;
	background-image: url(images/bg-pattern-bottom.svg);
	background-repeat: no-repeat;
	height: 391px;
	width: 778px;
	right:0;
	transform: translate(0%,84%);
	
}

/*#blank {
	height: 600px;
}*/

#footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 50px;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 50px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }